* {
    box-sizing: border-box;
    margin: 0px; padding: 0px;
    /* 讓每個元素都有框線 */
    /* border: 1px solid black; */
}
body {
  font-family: "Microsoft JhengHei","Segoe UI","Helvetica","LiHei Pro";
  color: #050505;  
}