table {
  margin: 0.8rem 0 0 0.8rem;
}

.title-word {
  font-size: 3.1rem;
  font-weight: 900;
  padding:0 1rem;  
  color: #050505;
}

.title-img {
  width: 12rem;
  padding-top:0.15rem; 
}

section {
  display: inline-block;
  width: 99.5%;
/* 上右下左*/
  margin: 0.35vw 0vw 0.1vw 0vw;  
  font-weight: 700;
}


div {
  margin-left: 0.45em;
  margin-top: 0.15em;
}

p {
  margin: 0.25em 0 0.3em 1.2em;
  font-size: 2em;
  font-weight: 550;
  color: #303030;
}

strong {
  color: #050505;
  font-weight: 900;
  margin-left: -0.45em;
  font-size: 1.12em;
}

audio {
  width: 97%;
  padding: 0.22em;
  margin: 0.1em 0.45em 0.2em 0.2em;
}

.banner {
  font-size: 2em;
  color: #3E3D39;
  max-width: calc(100% - 10px);
  padding: 0.1em 0 0.1em 0.15em;
  margin: 0.1em 0.3em 0.05em 0.2em;
}

.bt {
  margin: 0.8rem 0.15rem 0.6rem 1.5rem;
  padding: 0.15em 0.9em 0.15em 0.9em;
  border: 0.15rem solid #cacaca;
  font-size: 1.45em;
  width: auto;
  min-width: 6em; 
  height: 2em;
  background-color: #ffffff;
  font-weight: bold;
  color: #050505;
  border-radius: 0.45rem;
}

.bt:hover {  
  box-shadow: -0.05rem -0.05rem 0 0.043rem #dcdcdc;
}   

.A {
  background-color: #ffcccc;
}

.B {
  background-color: #b7f274;
}

.C {
  background-color: #aaf0eb;
}

.D {
  background-color: #fff8a6;
}

.E {
  background-color: #e6ccff;
}

.F {
  background-color: #3F7BE8;
}

/* 標題按鈕變色效果 */
.elect-w1:hover {
  color: whitesmoke;
  background-color: #e62789;
}

.elect-w2:hover {
  color: whitesmoke;
  background-color: #009900;
}

.elect-w3:hover {
  color: whitesmoke;
  background-color: #1e87fa;
}

.elect-w4:hover {
  color: whitesmoke;
  background-color: #993399;
}


footer {
  padding:0.5em 0.5em;
  display: flex;
  align-items: center;   
}

.buttom-img {
  width: 6em;
/*  position: inline; */
  margin: 1em 0em 0 1.5em;
  padding: 0em 0.5em 0 0em;
}

.buttom-word {
  color: black;
  font-size: 1em;
  width: auto; 
  margin: 0.9em 0 0em 0;
  padding: 0 0 0em 0;  
/*  display:inline-block;  */
}

#nav {
 font-size: 1em;
    
}
#nav ul {
  list-style: none;
  padding: 0.5em;
  font-size: 1.3em;
   
}

#nav ul li {
  float: left;
  line-height: 3.5em;
  padding-left: 1.5em;
   
}

#nav ul li a,
#nav ul li span {
  -moz-transition: background-color .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out;
  -ms-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
  font-weight: 800;
  letter-spacing: 0.03em;
  color: #696969;
  text-decoration: none;
  border-radius: 6px;
  padding: 0.5em 1.2em 0.5em 1.2em;
   
}

#nav ul li>ul {
  display: none;
    
}

#nav ul li:hover a,
#nav ul li:hover span {
  background: #fff;
}

#nav ul li.active a,
#nav ul li.active span {
  background: #fff;
}

#nav ul li.current a {
  background: #444;
  color: #fff;
}

/* phone */

@media (max-width: 436px) {

table {
  margin: 0.5em 0em 0em 0.5em;
}
    
div {
  margin-left: 0.45em;
  padding-right: 0.4em;    
  margin-top: 0.1em;
}     
    
  p {
    font-size: 13pt;
    margin: 0.25em 0 0.1em 0.8em;  
  }
  strong {
    font-size: 14pt;
  }

audio {
  width: 100%;
  padding: 0.2em 0 0.45em 0em;
  margin: 0em 0em 0.5em 0;
} 
  .title-img {
    width: 5rem;
    margin-top: 0.15rem;
    margin-right: -0.45rem;   
  }
  .title-word {
    padding: 0 0.1rem 0 1rem;
    font-size: 1.5rem;
  }

  .banner {
    font-size: 13.5pt;
  }
    
.bt {
  margin: 0.5rem -0.05rem 0.45rem 0.5rem;
  font-size: 0.68em;
  width: auto;
  height: auto;  
  min-width: 70px; 
  padding: 0.35em 1.5em;
  border-radius: 0.25rem; 
  border: 0.08rem solid #cacaca;
}

.bt:active {
  width: auto;  
  padding: 0.3em 1.5em;
}    
 
#nav ul {  
  padding: 0.6em;
  font-size: 0.6em;
  letter-spacing: 0.035em;  
    }  
    

#nav ul li {    
  line-height: 6em;
  padding-left: 0.6em;
    
}
 
#nav ul li a,
#nav ul li span {
  font-weight: 650;
  letter-spacing: 0.04em;
  padding: 0.5em 1.2em 0.6em 1.2em;
  margin-left: 0.5em; 
}
       
.buttom-img {
  width: 3.5em;
  margin: -0.8em 0.1em 0 0; 
  padding: 0.1em 0.2em; 
}   
.buttom-word {
  font-size: 0.6em;
  /* padding: 0.1em 0.2em; */
  margin: 1.5em 0 3em 0;
  display:inline-block; 
}
    
    
}